form {
  margin: 40px;
}

input {
  border-radius: 5px;
  margin: 5px;
}

input:enabled {
  background-color: rgb(97, 191, 223);
}

input:required {
  border: 2px solid red;
}

input[type="submit"]:disabled {
  color: grey;
}